* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #2c2c2c;
}

button {
    appearance: none;
    padding: 2px 10px;
    background-color: #534dff;
    outline: none;
    border: 0px;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    font-size: 18px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #625dfd;
    }

    &:active {
        background-color: #3d37ff;
    }
}

.tooltip_wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #fff;

    .tooltip {
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 1;
        width: 300px;
        height: 300px;
        padding: 10px;
        transform: scale(0);
        background-color: #2c2c2c;
        border-radius: 10px;
        overflow: auto;
        border: 1px solid #fff;
    }

    div:first-child {
        width: auto;
        min-width: 100px;
        color: #fff;
    }

    div:nth-child(2) {
        width: auto;
        color: #534dff;
        cursor: pointer;

        &:hover {
            +.tooltip {
                transform: scale(1);
            }
        }
    }
}